// Variables
$avatar-size: 512px;
$anim-text-duration: 30s;
$anim-text-lines: 5;

.home-content {
    background-color: $title-bg-color;
    color: $header-color;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    text-align: center;
    white-space: nowrap;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .centered {
        display: inline-block;
        padding: 0;
        position: relative;
        overflow: visible;
        vertical-align: middle;
    }

    img {
        border: 10px solid $header-color;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: $avatar-size / -4 - 10px;
        width: $avatar-size / 2;
        opacity: .2;
        animation: appear 3s ease-out;

        @keyframes appear {
            from {
                -webkit-filter: blur(30px);
                filter: blur(30px);
                transform: scale(.7);
            }
        }
    }

    h1, h2 {
        margin: 0;
    }

    h1 {
        position: relative;
        color: #fff;
        font-size: 88px;

        @include media-query($on-palm) {
            font-size: 44px;
        }
    }

    h2 {
        font-size: 28px;
        font-weight: 200;
        margin-right: -40px;
        text-align: right;

        span, ul {
            display: inline-block;
            line-height: 2em;
            vertical-align: middle;
        }

        .anim-text {
            height: 2em;
            overflow: hidden;
            position: relative;

            &:after {
                $anim-text-time: $anim-text-duration / $anim-text-lines;
                animation: masking $anim-text-time ($anim-text-time * .1) infinite;
                background-color: $title-bg-color;
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 100%;
                width: 110%;
                height: 100%;

                @keyframes masking {
                    80% { transform: translateX(0) }
                    90% { transform: translateX(-100%) }
                    to { transform: translateX(0) }
                }
            }
        }

        ul {
            animation: rolling $anim-text-duration steps($anim-text-lines, end) infinite;
            color: #fff;
            list-style-type: none;
            margin: 0;
            text-align: left;
            will-change: transform;

            @keyframes rolling {
                to { transform: translateY($anim-text-lines * -2em) }
            }
        }

        @include media-query($on-palm) {
            font-size: 20px;
            margin-right: -30px;
        }
    }

    .site-nav {
        position: static;

        .page-link {
            padding: 5px 0;
        }
    }
}
